# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Omikron\Repos\training\java\ContactDiaries\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/dataSources/923c7272-a494-44dc-a30d-aa6cb78d5a92.xml
/dataSources.xml
